body {
  font-family: inherit;
  background-color:#5f331d;
  /*background-image: url(../images/Mish3.jpg);
  background-repeat: no-repeat;*/
}

.row{
  display: flex;
}

.container-fluid html{
    height: 100%;
}

.container-fluid{
  background-image: url(../images/Mish3.jpg);
    background-repeat: no-repeat;
}

.col-md-7{
}

.underline{
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
a {
  color: orange;
}
a:hover {
  color: black;
}
.links {
  margin-left: 450px;
}

.box {
  height:140%;
  border: 2px solid black;
  padding: 3px;
  margin-left:530px;
}

#footer{
    margin-left: 85px;
}
@media screen and (min-width: 580px) {
  body {
        background-color:#82381e;
        color: black;
    }
}
