body {
  font-family: inherit;
  background-color:#5f331d;
  text-align: right;
  background-image: url(../images/Mish3.jpg);
  background-repeat: no-repeat;
}

.underline{
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
a {
  color: orange;
}
a:hover {
  color: black;
}
.links {
  margin-left: 450px;
}
img {
  width: 100px;
  height:100px;
  float : 50px;
}
.box {
  height:100%;
  width:740px;
  border: 2px solid black;
  padding: 3px;
  margin-left: 520px;
  margin-top:-10px;
}

@media screen and (min-width: 580px) {
  body {
        background-color:#82381e;
        color: black;
    }
}
