body {
  font-style: italic;
  background-color:#5f331d;
  font-size: 20px;
  /*background-image: url(../images/Mish3.jpg);
  background-repeat: no-repeat;*/
}

.row{
  display: flex;
}

.container-fluid html{
    height: 100%;
}

.container-fluid{
}

.col-md-7{
}

.underline{
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}

a {
  color: orange;
}

a:hover {
  color: black;
}

.box {
  height:100%;
  border: 2px solid black;
  padding: 3px;
}


@media screen and (max-width:700px) {
  .container-fluid {
    font-family: inherit;
    background-color:#5f331d;
    }

    .box {
        width:100%;
    }
    img{
      width: 40%;
    }
}

@media screen and (max-width:640px){
  body {
    font-style: italic;
    background-color:#401515;
  }

  .container-fluid {
    font-style: italic;
    color: #c2cace;
    background-color:#401515;
    }

  .col-md-5 {
    width:100%
  }
  .col-md-7 {
    width: 100;
  }

  .underline{
    font-weight: bolder;
    color: #c2cace;
    text-decoration: underline;
  }

}
